include ../mixins/picture

section#benefits.benefits
	.benefits__bg
	.container.container--benefits
		.benefits__content
			.benefits__article
				.benefits__article-top
					h2.benefits__article-title У нас уютно
				ul.benefits__article-description
					li.benefits__article-item Шикарный вид на&nbsp;город с&nbsp;50-го этажа БЦ&nbsp;&laquo;Высоцкий&raquo;
					li.benefits__article-item Авторские миксы, которые меняются каждый месяц и&nbsp;способны удовлетворить каждого требовательного гостя
					li.benefits__article-item Уникальная атмосфера уединения и&nbsp;комфорта
					li.benefits__article-item Персонал&nbsp;&mdash; подготовленные мастера своего дела
