include ../mixins/svg

section#info.info
	.container
		.info__inner
			h2.info__title Возраждаем традицию
			p.info__description Сигара в&nbsp;достойной компании, оттененная бокалом бренди, всегда была не&nbsp;только обязательным атрибутом джентльмена, но&nbsp;и&nbsp;данью традициям. Поклонники сигар встречались в&nbsp;курительных клубах, обсуждали последние новости и&nbsp;вершили судьбы мира. Прошло время, и&nbsp;теперь традицию курительных клубов возрождает &laquo;Дым кудрявый&raquo; в&nbsp;Екатеринбурге.
			div(class='row w-100p gx-0 md:gx-20 xl:gx-65')
				div(class='col-12 sm:col-6 xl:col-4')
					.info__column
						h3.info__column-title Услуги
						.info__column-text Серьезная сигарная карта и&nbsp;достойный выбор кальянов&nbsp;&mdash; standart, premium или de&nbsp;luxe. Всегда в&nbsp;наличии элитный алкоголь, который составляет отличную партию сигарам. Всем, кто за&nbsp;рулем бармен предложит авторский чай.
				div(class='d-none sm:col-6 sm:d-block md:m-0 xl:col-4 info__img')
					img.max-w-100p.h-100p.info__img-icon(src='img/index/info/hookah.svg' width='450' height='325' alt='Кальян')
				div(class='col-12 sm:col-6 xl:col-4')
					.info__column
						h3.info__column-title Развлечения
						.info__column-text В&nbsp;клубе &laquo;Дым кудрявый&raquo; установлены плазменные панели, на&nbsp;которых можно посмотреть спортивный матч. Также в&nbsp;гостевом зале вы&nbsp;найдете шахматы и&nbsp;шашки, в&nbsp;том числе интересные авторские коллекции.
				div(class='col-12 sm:col-6 xl:col-4')
					.info__column
						h3.info__column-title Для кого
						.info__column-text Курительный клуб &#8470;&nbsp;1&nbsp;&laquo;Дым кудрявый&raquo; создан для деловых и&nbsp;неформальных встреч. В&nbsp;отличии от&nbsp;традиционных английских курительных клубов, заведение в&nbsp;Екатеринбурге ждет и&nbsp;джентльменов, и&nbsp;леди.
