include ../mixins/svg
include ../mixins/picture

section#interior.interior
	.container
		.interior__inner
			h2.interior__title Интерьер
			.interior__swiper-buttons
				button.swiper-button-prev.interior__swiper-button.interior__swiper-button--prev
					+svg('button-prev-icon', '19', '22', 'Предыдущий слайд', 'left-arrow')
				button.swiper-button-next.interior__swiper-button.interior__swiper-button--next
					+svg('button-next-icon', '19', '22', 'Следующий слайд', 'right-arrow')
	.container-swiper-xl
		.swiper.interior__swiper
			.swiper-wrapper
				.swiper-slide.interior__swiper-slide
					a(href='img/index/interior/bar.jpg' data-lightbox='roadtrip' data-title='Бар')
						+picture('interior__img', 'interior/bar', 'Кальянный бар', '410', '360')
				.swiper-slide.interior__swiper-slide
					a(href='img/index/interior/place.jpg' data-lightbox='roadtrip' data-title='Наш интерьер')
						+picture('interior__img', 'interior/place', 'Интерьер кальянной', '410', '360')
				.swiper-slide.interior__swiper-slide
					a(href='img/index/interior/furniture.jpg' data-lightbox='roadtrip' data-title='Детали интерьера')
						+picture('interior__img', 'interior/furniture', 'Детали интерьера', '410', '360')
				.swiper-slide.interior__swiper-slide
					a(href='img/index/interior/hookah.jpg' data-lightbox='roadtrip' data-title='Наши кальяны')
						+picture('interior__img', 'interior/hookah', 'Кальяны', '410', '360')
				.swiper-slide.interior__swiper-slide
					a(href='img/index/interior/bar.jpg' data-lightbox='roadtrip' data-title='Бар')
						+picture('interior__img', 'interior/bar', 'Кальянный бар', '410', '360')
				.swiper-slide.interior__swiper-slide
					a(href='img/index/interior/place.jpg' data-lightbox='roadtrip' data-title='Наш интерьер')
						+picture('interior__img', 'interior/place', 'Интерьер кальянной', '410', '360')
				.swiper-slide.interior__swiper-slide
					a(href='img/index/interior/furniture.jpg' data-lightbox='roadtrip' data-title='Детали интерьера')
						+picture('interior__img', 'interior/furniture', 'Детали интерьера', '410', '360')
				.swiper-slide.interior__swiper-slide
					a(href='img/index/interior/hookah.jpg' data-lightbox='roadtrip' data-title='Наши кальяны')
						+picture('interior__img', 'interior/hookah', 'Кальяны', '410', '360')
