section#menu.menu
	.container
		.menu__inner
			h2.menu__title Меню
			img.menu__img(src='img/index/menu/ash.svg' width='188' height='165' alt='пепельница')
			.menu__panel
				.menu__panel-buttons
					.menu__choose.menu__choose--active Фирменные кальяны
					.menu__choose Сигары и сигарилы
					.menu__choose Классические кальяны
				.menu__swiper-buttons.d-none
					button.swiper-button-prev.menu__swiper-button.menu__swiper-button--prev.menu__swiper-button-prev--hookah
						+svg('button-prev-icon', '19', '22', 'Предыдущий слайд', 'left-arrow')
					button.swiper-button-next.menu__swiper-button.menu__swiper-button-next--hookah
						+svg('button-next-icon', '19', '22', 'Следующий слайд', 'right-arrow')
				.menu__swiper-buttons.d-none
					button.swiper-button-prev.menu__swiper-button.menu__swiper-button--prev.menu__swiper-button-prev--sigars
						+svg('button-prev-icon', '19', '22', 'Предыдущий слайд', 'left-arrow')
					button.swiper-button-next.menu__swiper-button.menu__swiper-button-next--sigars
						+svg('button-next-icon', '19', '22', 'Следующий слайд', 'right-arrow')
				.menu__swiper-buttons.d-none
					button.swiper-button-prev.menu__swiper-button.menu__swiper-button--prev.menu__swiper-button-prev--alcohol
						+svg('button-prev-icon', '19', '22', 'Предыдущий слайд', 'left-arrow')
					button.swiper-button-next.menu__swiper-button.menu__swiper-button-next--alcohol
						+svg('button-next-icon', '19', '22', 'Следующий слайд', 'right-arrow')
	.container.container--swiper-md
		div(class='menu__result d-none')
			.swiper.menu__swiper.menu__swiper-hookah
				.swiper-wrapper
					.swiper-slide
						.menu__card
							.menu__card-heading.mb-60
								.menu__card-title
									h4 «Баунти»
								.menu__card-menu__price
									p.menu__price.fw-b.m-0 3000 ₽
							p
								span.fw-sb Добавки:
								|  шоколад, молоко, кокосовый сироп
							p
								span.fw-sb Чаша:
								|  ананас
							p
								span.fw-sb Крепость:
								|  средняя
					.swiper-slide
						.menu__card
							.menu__card-heading.mb-60
								.menu__card-title
									h4 «Мохито»
								.menu__card-menu__price
									p.menu__price.fw-b.m-0 3000 ₽
							p
								span.fw-sb Добавки:
								|  мята, лайм, белый ром и много-много льда
							p
								span.fw-sb Чаша на выбор:
								|  яблоко, апельсин, грейпфрут
							p
								span.fw-sb Крепость:
								|  крепкий
					.swiper-slide
						.menu__card
							.menu__card-heading.mb-60
								.menu__card-title
									h4 «Пина колада»
								.menu__card-menu__price
									p.menu__price.fw-b.m-0 3000 ₽
							p
								span.fw-sb Добавки:
								|  молоко, ананасовый сок, кокосовый сироп, лед
							p
								span.fw-sb Чаша:
								|  ананас
							p
								span.fw-sb Крепость:
								|  средняя
		div(class='menu__result d-none')
			.swiper.menu__swiper.menu__swiper-sigars
				.swiper-wrapper
					.swiper-slide
						.menu__card
							h4.mb-30 Куба
							p Cohiba Panatelas
							p Cohiba Siglo II
							p Cohiba Siglo IV
							p Cohiba Siglo V
							p Cohiba Robustos
							p H. Upmann Magnum
							p Hoyo De Mont. Epicure №
							p Montecristo №4
							p Partagas Serie №4
							p Romeo & Julieta Churchliss.
							p Romeo & Julieta №2
					.swiper-slide
						.menu__card
							h4.mb-30 Доминикана
							p CT Reserva Decadencia Churchill
							p Arturo Fuente Anejo №77 Shark
							p Davidoff Escurio Gran Perfecto
							p Davidoff WSC Churchill
							p Zino Platinum XS
							p Zino Platinum Barrel
							p Macanudo Cafe Ascots
							p Macanudo Maduro Ascots
					.swiper-slide
						.menu__card
							h4.mb-30 Никарагуа
							p Nub Sun Grown 460 Tubos
		div(class='menu__result d-none')
			.swiper.menu__swiper.menu__swiper-alcohol
				.swiper-wrapper
					.swiper-slide
						.menu__card
							h4.mb-30 Кальяны на глиняной чаше
							p Standart:
								span.menu__price.ml-10 1200 ₽
							p.mb-15 Крепость: легкий
							p.mt-5 Premium:
								span.menu__price.ml-10 1500 ₽
							p.mb-25 Крепость: крепкий
							h5.mb-10 Замена чаши
							p Standart:
								span.menu__price.ml-10 900 ₽
							p Premium:
								span.menu__price.ml-10 1200 ₽
					.swiper-slide
						.menu__card
							h4.mb-30 Кальяны на фруктовой чаше
							h5 Апельсин
							p Standart:
								span.menu__price.ml-10 1600 ₽
							p.mb-20 Premium:
								span.menu__price.ml-10 1900 ₽
							h5 Яблоко
							p Standart:
								span.menu__price.ml-10 1600 ₽
							p.mb-20 Premium:
								span.menu__price.ml-10 1900 ₽
							h5 Грейпфрут
							p Standart:
								span.menu__price.ml-10 1900 ₽
							p.mb-20 Premium:
								span.menu__price.ml-10 2300 ₽
							h5 Ананас
							p Standart:
								span.menu__price.ml-10 2200 ₽
							p Premium:
								span.menu__price.ml-10 2700 ₽
					.swiper-slide
						.menu__card
							h4.mb-30 Добавки в колбу
							p Вино:
								span.menu__price.ml-10 600 ₽
							p Мята:
								span.menu__price.ml-10 100 ₽
							p Молоко:
								span.menu__price.ml-10 200 ₽
							p.mb-20 Сок в ассортименте:
								span.menu__price.ml-10 300 ₽
							p Вы можете добавить в кальян любой алкоголь из барной карты ресторана Panorama A.S.P.
