extends ../templates/common

block append styles
	//-

block append scripts
	//-

block append content

	include ../components/hero

	include ../components/info

	include ../components/interior

	include ../components/menu

	include ../components/benefits

	include ../components/news

	include ../components/partners
