extends ../components/templates/common

block append styles
	//-

block append scripts
	//-

block append content

	include ../components/index/hero

	include ../components/index/info

	include ../components/index/interior

	include ../components/index/menu

	include ../components/index/benefits

	include ../components/index/news

	include ../components/index/partners
