include ../mixins/svg
include ../mixins/picture

header.header
	div(class='row g-0 h-100p header__bg')
		div(class='xl:col-5 h-100p header__bg-side--left')
			+picture-w100p('header__bg-img', 'header/left-pic', 'left pic', '870', '825')
		div(class='col-12 xl:col-7 h-100p header__bg-side--right')
			+picture-w100p('header__bg-img', 'header/right-pic', 'right pic', '870', '825')
	.container
		.header__inner
			.header__top
				.header__logo
					a.header__logo-link(href='/')
						img.d-block.header__logo-icon(src='/img/logo.svg' width='91' alt='Логотип')
						p.header__logo-name Дым Кудрявый
				ul.header__social
					li.header__social-item
						a.header__social-link(href='#')
						+svg('header__social-icon', '19', '16', 'Вконтакте', 'vk')
					li.header__social-item
						a.header__social-link(href='#')
						+svg('header__social-icon', '15', '16', 'Инстаграм', 'insta')
					li.header__social-item
						a.header__social-link(href='#')
						+svg('header__social-icon', '8', '16', 'Фейсбук', 'fb')
				nav.header__menu
					ul.header__menu-list
						li.header__menu-item
							a.header__menu-link(href='#') О клубе
						li.header__menu-item
							a.header__menu-link(href='#') Интерьер
						li.header__menu-item
							a.header__menu-link(href='#') Меню
						li.header__menu-item
							a.header__menu-link(href='#') Преимущества
						li.header__menu-item
							a.header__menu-link(href='#') Новости
						li.header__menu-item
							a.header__menu-link(href='#') Контакты
				.header__mobile-menu
					+svg('header__mobile-icon', '25', '16', 'Мобильное меню', 'burger')
				nav.header__menu--mobile(style='display:none')
					ul.header__menu-list--mobile
						li.header__menu-item--mobile
							a.header__menu-link(href='#') О клубе
						li.header__menu-item--mobile
							a.header__menu-link(href='#') Интерьер
						li.header__menu-item--mobile
							a.header__menu-link(href='#') Меню
						li.header__menu-item--mobile
							a.header__menu-link(href='#') Преимущества
						li.header__menu-item--mobile
							a.header__menu-link(href='#') Новости
						li.header__menu-item--mobile
							a.header__menu-link(href='#') Контакты
					ul.header__social--mobile
						li.header__social-item
							a.header__social-link(href='#')
							+svg('header__social-icon', '19', '11', 'Вконтакте', 'vk')
						li.header__social-item
							a.header__social-link(href='#')
							+svg('header__social-icon', '15', '16', 'Инстаграм', 'insta')
						li.header__social-item
							a.header__social-link(href='#')
							+svg('header__social-icon', '8', '16', 'Фейсбук', 'fb')
					+svg('header__menu-close', '30', '35', 'Закрыть меню', 'cross')
			.header__content
				.header__content-figure
					h1.header__content-title Самый шикарный курительный клуб Урала
			.header__bottom
				.header__column
					+svg('header__column-icon', '18', '21', 'Телефон', 'phone')
					a.header__column-link(href='tel:+73432989888') +7 (343) 298-98-88
				.header__column
					+svg('header__column-icon', '18', '21', 'Рабочее время', 'clock')
					p.header__column-text вс-чт с&nbsp;16:00 до&nbsp;00:00 пт-сб с&nbsp;16:00 до&nbsp;04:00
				.header__column
					+svg('header__column-icon', '18', '21', 'Адрес', 'point')
					p.header__column-text Екатеринбург, БЦ&nbsp;Высоцкий,&nbsp;50&nbsp;этаж
		.page-overlay(style='display:none')

