:root {

	// Content
	--hero-content-figure-border-cl: var(--cl-purple-100);
	--hero-content-title-cl: var(--cl-white);

	// Bottom
	--hero-bottom-border-cl: var(--cl-graphite-100);

	// Column
	--hero-column-link-default-cl: var(--cl-graphite-450);
	--hero-column-link-hover-cl: var(--cl-white);
	--hero-column-cl: var(--cl-graphite-400);
}
