:root {

	// Basic
	--interior-bg-cl: var(--ca-graphite-80-95);

	// Title
	--interior-title-cl: var(--cl-white);

	// Swiper
	--interior-swiper-border-cl: var(--cl-graphite-250);
	--interior-swiper-border-disabled-cl: var(--cl-graphite-100);
	--interior-swiper-fill-default-cl: var(--cl-graphite-250);
	--interior-swiper-fill-hover-cl: var(--cl-graphite-425);
	--interior-swiper-fill-disabled-cl: var(--cl-graphite-100);
}
