:root {

	// Article
	--news-article-title-default-cl: var(--cl-graphite-50);
	--news-article-title-hover-cl: var(--cl-purple-100);

	// Date
	--news-date-cl: var(--cl-purple-100);

	// Swiper
	--news-swiper-border-cl: var(--cl-graphite-150);
	--news-swiper-border-disabled-cl: var(--cl-graphite-350);
	--news-swiper-fill-default-cl: var(--cl-graphite-150);
	--news-swiper-fill-hover-cl: var(--cl-graphite-50);
	--news-swiper-fill-disabled-cl: var(--cl-graphite-370);
}
