:root {
	// Basic
	--partners-cl: var(--cl-white);

	// Background
	--partners-bg-cl: var(--cl-graphite-80);

	// Text
	--partners-text-cl: var(--cl-graphite-400);

	// Button
	--partners-button-default-bg-cl: var(--cl-purple-100);
	--partners-button-hover-bg-cl: var(--cl-purple-200);
	--partners-button-cl: var(--cl-white);
}
