.footer {
	&__bg {
		@include media-breakpoint-down(lg) {
			height: 460px;
		}

		position: relative;
	}


	&__bg-icon {
		position: absolute;
		top: 42%;
		left: 46%;
		fill: var(--footer-icon-bg-cl);
	}

	&__content {
		@include media-breakpoint-down(xl) {
			padding-left: 40px;
		}

		@include media-breakpoint-down(lg) {
			padding: 45px 20px 60px;
		}

		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding: 120px 0 130px 70px;
	}

	&__content-inner {
		@include media-breakpoint-down(lg) {
			max-width: none;
		}

		position: relative;
		max-width: 375px;
	}

	&__content-title {
		margin-bottom: 40px;
	}

	&__content-columns {
		@include media-breakpoint-down(lg) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		@include media-breakpoint-down(lg) {
			flex-direction: column;
		}

		margin-bottom: 50px;
	}

	&__content-column {
		@include media-breakpoint-down(lg) {
			align-items: flex-start;
		}

		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__content-column-icon {
		display: block;
		margin-right: 10px;
	}

	&__content-column-link {
		--footer-column-link-fz: var(--fz-md);
		--footer-column-link-fw: var(--fw-b);

		background-image:
			linear-gradient(var(--cl-purple-100), var(--cl-purple-100)),
			linear-gradient(transparent, transparent);
		background-position: 0 100%, 100% 100%;
		background-size: 0 2px, 100% 2px;
		background-repeat: no-repeat, no-repeat;
		color: var(--footer-column-link-cl);
		font-size: var(--footer-column-link-fz);
		font-weight: var(--footer-column-link-fw);
		text-decoration: none;
		transition: all .3s linear;

		&:hover {
			background-size: 100% 2px, 0 2px;
		}
	}

	&__content-buttons {
		display: flex;
		flex-direction: row;
	}

	&__content-button {
		@include media-breakpoint-down(md) {
			padding: 20px 0 15px;

			&:active {
				padding: 22px 0 13px !important;
			}
		}
		--footer-button-bg-cl: var(--footer-button-default-bg-cl);

		display: flex;
		align-items: center;
		justify-content: center;
		width: 180px;
		padding: 20px 0;
		border: none;
		background-color: var(--footer-button-bg-cl);
		color: var(--footer-button-cl);
		cursor: pointer;
		transition: all .3s ease;

		&:hover {
			--footer-button-bg-cl: var(--footer-button-hover-bg-cl);
		}

		&:active {
			padding: 22px 0 18px;
		}

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	&__content-button-icon {
		margin-right: 15px;
		fill: var(--footer-icon-cl);
	}

	&__content-img {
		@include media-breakpoint-down(lg) {
			top: 65%;
		}

		@include media-breakpoint-down(md) {
			top: -5%;
		}

		position: absolute;
		top: -5%;
		right: 0;
	}
}
