:root {

	// BODY
	// -----------------------------------------------

	// Background
	--body-bg-cl: var(--cl-graphite-450);

	// Text
	--body-cl: var(--graphite-50);
	--body-fz: var(--fz-md);
	--body-lh: var(--lh-md);

	// -----------------------------------------------
	// BODY
}
