:root {

	// BODY
	// -----------------------------------------------

	// Background
	--body-bg-cl: var(--cl-graphite-915);

	// Text
	--body-cl: var(--cl-graphite-200);
	--body-fz: var(--fz-md);
	--body-lh: var(--lh-xl);

	// -----------------------------------------------
	// BODY
}
