:root {

	// FOOTER
	// -----------------------------------------------

	// Background
	--footer-icon-bg-cl: var(--cl-purple-100);

	// Column
	--footer-column-link-cl: var(--cl-graphite-50);

	// Button
	--footer-button-default-bg-cl: var(--cl-graphite-80);
	--footer-button-hover-bg-cl: var(--cl-graphite-150);
	--footer-button-cl: var(--cl-white);
	--footer-icon-cl: var(--cl-graphite-200);

	// -----------------------------------------------
	// FOOTER
}
