.benefits {
	@include media-breakpoint-down(sm) {
		display: flex;
		flex-direction: column;
		min-height: 840px;
	}

	position: relative;
	height: 659px;
	scroll-margin-top: 110px;

	&__bg {
		@include media-breakpoint-down(xl) {
			width: 100%;
			background-position: top;
		}

		@include media-breakpoint-down(sm) {
			position: relative;
			order: 1;
			background-position: center;
		}

		content: '';
		position: absolute;
		left: 0%;
		z-index: 1;
		width: 58.3%;
		height: 100%;
		background-color: var(--cl-purple-100);
		background-image: url('../img/index/benefits/bg.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__bg-img {
		@include media-breakpoint-down(xl) {
			height: 595px;
		}

		@include media-breakpoint-down(lg) {
			height: 530px;
		}

		@include media-breakpoint-down(md) {
			height: 465px;
		}

		@include media-breakpoint-down(sm) {
			height: 180px;
		}
	}

	&__content {
		@include media-breakpoint-down(xl) {
			position: absolute;
			left: 0;
			display: flex;
			justify-content: center;
			width: 100%;
		}

		@include media-breakpoint-down(sm) {
			position: relative;
			display: block;
			order: -1;
		}

		position: relative;
		z-index: 1;
	}

	&__article {
		@include media-breakpoint-down(xl) {
			position: relative;
			top: 0;
			right: 0;
		}

		@include media-breakpoint-down(lg) {
			top: -180px;
		}

		@include media-breakpoint-down(sm) {
			top: 0;
			padding: 60px 15px;
		}


		position: absolute;
		top: 90px;
		right: 0;
		padding: 60px 45px 80px 65px;
		background-color: var(--benefits-content-bg-cl);
		color: var(--benefits-content-cl);
	}

	&__article-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	&__article-title {
		@include media-breakpoint-down(lg) {
			--benefits-title-fz: var(--h2-md-fz);
		}

		--benefits-title-fz: var(--h2-fz);
		--benefits-title-ff: var(--ff-merriweather);

		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		font-family: var(--benefits-title-ff);
		font-size: var(--benefits-title-fz);

		&::after {
			@include media-breakpoint-down(sm) {
				width: 120px;
				background-size: 120px;
			}

			content: '';
			width: 170px;
			height: 55px;
			background-image: url('../img/index/benefits/leaflet.svg');
			background-size: 170px;
			background-repeat: no-repeat;
		}
	}

	&__article-img {
		@include media-breakpoint-down(md) {
			width: 140px;
			height: 40px;
		}

		@include media-breakpoint-down(sm) {
			width: 120px;
			height: 40px;
		}
	}

	&__article-description {
		list-style-type: none;
	}

	&__article-item {
		display: flex;
		align-items: center;
		max-width: 500px;

		&:not(:last-child) {
			margin-bottom: 40px;
		}

		&::before {
			content: '//';
			margin-right: 20px;
			color: var(--benefits-description-item-before-cl);
			font-size: 20px;
			line-height: 0;
			vertical-align: middle;
		}
	}
}
