@import '../../utilities/grid/variables';
@import '../../utilities/grid/mixins/breakpoints';


:root {

	// FONT FAMILY
	// -----------------------------------------------

	--ff-montserrat: 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif;
	--ff-merriweather: 'Merriweather', serif;

	// -----------------------------------------------
	// FONT FAMILY


	// FONT WEIGHT
	// -----------------------------------------------

	--fw-n: 400;
	--fw-sb: 600;
	--fw-b: 700;

	--h1-fw: 700;
	--h2-fw: 700;
	--h3-fw: 700;
	--h4-fw: 700;
	--h5-fw: 700;

	// -----------------------------------------------
	// FONT WEIGHT


	// FONT SIZE
	// -----------------------------------------------

	--fz-sm: 14px;
	--fz-md: 15px;
	--fz-lg: 16px;
	--fz-xl: 18px;
	--fz-2xl: 20px;
	--fz-3xl: 24px;

	--h1-fz: 58px;
	--h2-fz: 36px;
	--h3-fz: 18px;
	--h4-fz: 17px;
	--h5-fz: 15px;

	--h1-md-fz: 50px;
	--h2-md-fz: 28px;
	--h3-md-fz: 16px;
	--h4-md-fz: 15px;

	--h1-sm-fz: 38px;
	--h2-sm-fz: 26px;

	// -----------------------------------------------
	// FONT SIZE


	// LINE HEIGHT
	// -----------------------------------------------

	--lh-xs: 1;
	--lh-sm: 1.23;
	--lh-md: 1.45;
	--lh-lg: 1.6;

	// -----------------------------------------------
	// LINE HEIGHT
}

// TEXT COLOR
// -----------------------------------------------

$font-weights: n, sb, b;

@each $font-weight in $font-weights {
	.fw-#{$font-weight} {
		font-weight: var(--fw-#{$font-weight});
	}
}

// -----------------------------------------------
// TEXT COLOR
