include ../mixins/picture

section#news.news
	.container
		.news__inner
			h2.news__title Новости
			.news__swiper-buttons
				button.swiper-button-prev.news__swiper-button.news__swiper-button--prev
					+svg('left-arrow', '19', '22', 'button-prev-icon', 'Предыдущий слайд')
				button.swiper-button-next.news__swiper-button.news__swiper-button--next
					+svg('right-arrow', '19', '22', 'button-next-icon', 'Следующий слайд')
	.container.container--swiper-md
		.swiper.news__swiper
			.swiper-wrapper
				.swiper-slide.news__swiper-slide
					a.news__link(href='#news')
						article.news__article
							+webp({
								pictureClas: 'news__article-img',
								imgClass:'h-100 obj-c',
								alt: 'Диван',
								width: '380',
								height: '265',
								imgPath: 'index/news/sofa.jpg',
							})
							.news__article-date 8 апреля
							h3.news__article-title Наш курительный клуб ежедневно работает с&nbsp;16:00
				.swiper-slide.news__swiper-slide
					a.news__link(href='#news')
						article.news__article
							+webp({
								pictureClas: 'news__article-img',
								imgClass:'h-100 obj-c',
								alt: 'Бар',
								width: '380',
								height: '265',
								imgPath: 'index/news/bottles.jpg',
							})
							.news__article-date 24 марта
							h3.news__article-title Дорогие гости, по&nbsp;выходным наш курительный клуб работает до&nbsp;4&nbsp;утра
				.swiper-slide.news__swiper-slide
					a.news__link(href='#news')
						article.news__article
							+webp({
								pictureClas: 'news__article-img',
								imgClass:'h-100 obj-c',
								alt: 'Виски',
								width: '380',
								height: '265',
								imgPath: 'index/news/chivas.jpg',
							})
							.news__article-date 12 марта
							h3.news__article-title Готовимся к&nbsp;вечеру с&nbsp;сигарами Davidoff
				.swiper-slide.news__swiper-slide
					a.news__link(href='#news')
						article.news__article
							+webp({
								pictureClas: 'news__article-img',
								imgClass:'h-100 obj-c',
								alt: 'Диван',
								width: '380',
								height: '265',
								imgPath: 'index/news/sofa.jpg',
							})
							.news__article-date 8 апреля
							h3.news__article-title Наш курительный клуб ежедневно работает с&nbsp;16:00
				.swiper-slide.news__swiper-slide
					a.news__link(href='#news')
						article.news__article
							+webp({
								pictureClas: 'news__article-img',
								imgClass:'h-100 obj-c',
								alt: 'Бар',
								width: '380',
								height: '265',
								imgPath: 'index/news/bottles.jpg',
							})
							.news__article-date 24 марта
							h3.news__article-title Дорогие гости, по&nbsp;выходным наш курительный клуб работает до&nbsp;4&nbsp;утра
				.swiper-slide.news__swiper-slide
					a.news__link(href='#news')
						article.news__article
							+webp({
								pictureClas: 'news__article-img',
								imgClass:'h-100 obj-c',
								alt: 'Виски',
								width: '380',
								height: '265',
								imgPath: 'index/news/chivas.jpg',
							})
							.news__article-date 12 марта
							h3.news__article-title Готовимся к&nbsp;вечеру с&nbsp;сигарами Davidoff


