include ../mixins/svg

section#partners.partners
	.container
		.partners__inner
			.partners__description
				h2.partners__title Наш клуб входит в&nbsp;состав ресторана Panorama ASP
				p.partners__text Поэтому гости могут не&nbsp;только насладиться дымным, но&nbsp;и&nbsp;попробовать самые разнообразные коктейли, а&nbsp;также вкусно поесть
			button.partners__button(type='button') Подробнее о ресторане
				+svg('partners__button-icon', '19', '10', 'стрелка вправо', 'arrow-to-right')
